@import url('https://fonts.googleapis.com/css?family=Sarabun|Fira+Sans|Dosis:800');

/* Sarina */

body {
    font-family: 'Sarabun', sans-serif;
    letter-spacing: 1px;
}

input {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 12px 20px;
    width: 120px;
}

.loginform-header-logo {
    margin-top: 5px;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
}

.loginform-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 20px 50px;
    border-bottom: 1px solid black;
}

.login {
    display: flex;
    margin-top: 20px;
}

.login-username-form, .login-password-form {
    height: 15px;
}

button {
    width: 80px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.login-btn {
    margin-left: 15px;
}

.signup-form {
    margin-left: 60%;
    margin-top: 20%;
}

.userprofile-header {
    display: flex;
    border-bottom: 1px solid black;
}

.userprofile-logo {
    margin-top: 20px;
    margin-left: 50px;
    width: 100%;
}

.userprofile-logout {
    margin-top: 30px;
    margin-right: 50px;
}

.userprofile-welcome {
    margin-left: 100px;
    margin-top: 100px;
}

.userprofile-h3 {
    margin-left: 100px;
}

.userprofile-p {
    margin-left: 100px;
}

.userprofile-edit-btn {
    float: right;
    margin: 20px 50px 20px 0;
    width: 190px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    padding-bottom: 0px;
}

.userprofile-data {
    display: flex;
    justify-content: center;
}

.userprofile-ratings {
    margin-left: 50%;
}

.piechart {
    width: 450px;
}

.userprofile-key {
    margin-top: 100px;
    position: fixed;
}

.key {
    margin-top: 5px;
}

.box {
    float: left;
    width: 20px;
    height: 20px;
}

.f-color {
    background: #E38627;
}

.ll-color {
    background: #E2615C;
}

.ff-color {
    background: #BC5581;
}

.w-color {
    background: #81578D;
}

.c-color {
    background: #48547B;
}

.e-color {
    background: #2F4858;
}

.he-color {
    background: #00725F;
}

.ss-color {
    background: #3B8728;
}

.edit-header {
    display: flex;
    border-bottom: 1px solid black;
}

.edit-logo {
    margin-top: 20px;
    margin-left: 50px;
    width: 100%;
}

.edit-form-div {
    margin-left: 15%;
    margin-top: 8%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100% 100% 100%;
    justify-items: left;
    align-items: center;
}

.editform {
    width: 100px;
}

.edit-submit-btn {
    width: 110px;
    margin-left: 140%;
}