@import url('https://fonts.googleapis.com/css?family=Lora|Fira+Sans');

body {
    font-family: 'Lora', serif;
    letter-spacing: 1px;
}

.loginform-header-logo {
    margin-top: 5px;
}

.loginform-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 20px 50px;
    border-bottom: 1px solid black;
}

.login {
    display: flex;
}

.login-username-form, .login-password-form {
    height: 15px;
    margin: 15px 10px 10px 0;
}

button {
    width: 70px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.login-btn {
    margin-top: 10px;
}

.signup-form {
    margin-left: 60%;
    margin-top: 20%;
}

.userprofile-logo {
    margin-top: 20px;
    margin-left: 50px;
}

.userprofile-welcome {
    margin-left: 100px;
    margin-top: 100px;
}

.userprofile-ratings {
    margin-left: 50%;
}